<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORLD OF WARSHIPS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="game.css">
</head>
<body class="container">
<header class="row text-center text-light">
    <div class="col-8 titulo">
        <h1 >WORLD OF WARSHIPS</h1>
    </div>
</header>
<section class="row">
    <div class="col-lg-5 col-md-10 col-sm-10">
        <table id="tableShips" class="table text-light table-bordered back_tab">
            <thead>
            <tr>
                <th colspan="11" class="text-center">
                    <p>My Ships</p><br>
                    <p class="titleTable" id="localPlayer"></p>
                </th>
            </tr>
            <tr>
                <th> </th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>A</th>
                <td class="A1"></td>
                <td class="A2"></td>
                <td class="A3"></td>
                <td class="A4"></td>
                <td class="A5"></td>
                <td class="A6"></td>
                <td class="A7"></td>
                <td class="A8"></td>
                <td class="A9"></td>
                <td class="A10"></td>
            </tr>
            <tr>
                <th>B</th>
                <td class="B1"></td>
                <td class="B2"></td>
                <td class="B3"></td>
                <td class="B4"></td>
                <td class="B5"></td>
                <td class="B6"></td>
                <td class="B7"></td>
                <td class="B8"></td>
                <td class="B9"></td>
                <td class="B10"></td>
            </tr>
            <tr>
                <th>C</th>
                <td class="C1"></td>
                <td class="C2"></td>
                <td class="C3"></td>
                <td class="C4"></td>
                <td class="C5"></td>
                <td class="C6"></td>
                <td class="C7"></td>
                <td class="C8"></td>
                <td class="C9"></td>
                <td class="C10"></td>
            </tr>
            <tr>
                <th>D</th>
                <td class="D1"></td>
                <td class="D2"></td>
                <td class="D3"></td>
                <td class="D4"></td>
                <td class="D5"></td>
                <td class="D6"></td>
                <td class="D7"></td>
                <td class="D8"></td>
                <td class="D9"></td>
                <td class="D10"></td>
            </tr>
            <tr>
                <th>E</th>
                <td class="E1"></td>
                <td class="E2"></td>
                <td class="E3"></td>
                <td class="E4"></td>
                <td class="E5"></td>
                <td class="E6"></td>
                <td class="E7"></td>
                <td class="E8"></td>
                <td class="E9"></td>
                <td class="E10"></td>
            </tr>
            <tr>
                <th>F</th>
                <td class="F1"></td>
                <td class="F2"></td>
                <td class="F3"></td>
                <td class="F4"></td>
                <td class="F5"></td>
                <td class="F6"></td>
                <td class="F7"></td>
                <td class="F8"></td>
                <td class="F9"></td>
                <td class="F10"></td>
            </tr>
            <tr>
                <th>G</th>
                <td class="G1"></td>
                <td class="G2"></td>
                <td class="G3"></td>
                <td class="G4"></td>
                <td class="G5"></td>
                <td class="G6"></td>
                <td class="G7"></td>
                <td class="G8"></td>
                <td class="G9"></td>
                <td class="G10"></td>
            </tr>
            <tr>
                <th>H</th>
                <td class="H1"></td>
                <td class="H2"></td>
                <td class="H3"></td>
                <td class="H4"></td>
                <td class="H5"></td>
                <td class="H6"></td>
                <td class="H7"></td>
                <td class="H8"></td>
                <td class="H9"></td>
                <td class="H10"></td>
            </tr>
            <tr>
                <th>I</th>
                <td class="I1"></td>
                <td class="I2"></td>
                <td class="I3"></td>
                <td class="I4"></td>
                <td class="I5"></td>
                <td class="I6"></td>
                <td class="I7"></td>
                <td class="I8"></td>
                <td class="I9"></td>
                <td class="I10"></td>
            </tr>
            <tr>
                <th>J</th>
                <td class="J1"></td>
                <td class="J2"></td>
                <td class="J3"></td>
                <td class="J4"></td>
                <td class="J5"></td>
                <td class="J6"></td>
                <td class="J7"></td>
                <td class="J8"></td>
                <td class="J9"></td>
                <td class="J10"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class=" col-lg-5 col-md-10 col-sm-10">
        <table id="tableSalvo" class="table text-light table-bordered back_sal">
            <thead>
            <tr>
                <th colspan="11" class="text-center">
                    <p>My Salvos</p><br>
                    <p id="titleSalvo"></p>
                </th>
            </tr>
            <tr>
                <th> </th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>A</th>
                <td id="A1"></td>
                <td id="A2"></td>
                <td id="A3"></td>
                <td id="A4"></td>
                <td id="A5"></td>
                <td id="A6"></td>
                <td id="A7"></td>
                <td id="A8"></td>
                <td id="A9"></td>
                <td id="A10" ></td>
            </tr>
            <tr>
                <th>B</th>
                <td id="B1"></td>
                <td id="B2"></td>
                <td id="B3"></td>
                <td id="B4"></td>
                <td id="B5"></td>
                <td id="B6"></td>
                <td id="B7"></td>
                <td id="B8"></td>
                <td id="B9"></td>
                <td id="B10" ></td>
            </tr>
            <tr>
                <th>C</th>
                <td id="C1"></td>
                <td id="C2"></td>
                <td id="C3"></td>
                <td id="C4"></td>
                <td id="C5"></td>
                <td id="C6"></td>
                <td id="C7"></td>
                <td id="C8"></td>
                <td id="C9"></td>
                <td id="C10" ></td>
            </tr>
            <tr>
                <th>D</th>
                <td id="D1"></td>
                <td id="D2"></td>
                <td id="D3"></td>
                <td id="D4"></td>
                <td id="D5"></td>
                <td id="D6"></td>
                <td id="D7"></td>
                <td id="D8"></td>
                <td id="D9"></td>
                <td id="D10" ></td>
            </tr>
            <tr>
                <th>E</th>
                <td id="E1"></td>
                <td id="E2"></td>
                <td id="E3"></td>
                <td id="E4"></td>
                <td id="E5"></td>
                <td id="E6"></td>
                <td id="E7"></td>
                <td id="E8"></td>
                <td id="E9"></td>
                <td id="E10" ></td>
            </tr>
            <tr>
                <th>F</th>
                <td id="F1"></td>
                <td id="F2"></td>
                <td id="F3"></td>
                <td id="F4"></td>
                <td id="F5"></td>
                <td id="F6"></td>
                <td id="F7"></td>
                <td id="F8"></td>
                <td id="F9"></td>
                <td id="F10" ></td>
            </tr>
            <tr>
                <th>G</th>
                <td id="G1"></td>
                <td id="G2"></td>
                <td id="G3"></td>
                <td id="G4"></td>
                <td id="G5"></td>
                <td id="G6"></td>
                <td id="G7"></td>
                <td id="G8"></td>
                <td id="G9"></td>
                <td id="G10" ></td>
            </tr>
            <tr>
                <th>H</th>
                <td id="H1"></td>
                <td id="H2"></td>
                <td id="H3"></td>
                <td id="H4"></td>
                <td id="H5"></td>
                <td id="H6"></td>
                <td id="H7"></td>
                <td id="H8"></td>
                <td id="H9"></td>
                <td id="H10" ></td>
            </tr>
            <tr>
                <th>I</th>
                <td id="I1"></td>
                <td id="I2"></td>
                <td id="I3"></td>
                <td id="I4"></td>
                <td id="I5"></td>
                <td id="I6"></td>
                <td id="I7"></td>
                <td id="I8"></td>
                <td id="I9"></td>
                <td id="I10" ></td>
            </tr>
            <tr>
                <th>J</th>
                <td id="J1"></td>
                <td id="J2"></td>
                <td id="J3"></td>
                <td id="J4"></td>
                <td id="J5"></td>
                <td id="J6"></td>
                <td id="J7"></td>
                <td id="J8"></td>
                <td id="J9"></td>
                <td id="J10" ></td>
            </tr>
            </tbody>
        </table>

    </div>


   <!-- <div id="app" class="p-4">
        <ul class="games-list">
            <li v-for="game in games" class="pt-2">Game no. {{game.id}} created on {{game.dates}}
                <p>Players:</p>
                <ul>
                    <li v-for="i in game.gamePlayer">{{i.player.email}}</li>
                </ul>
            </li>
        </ul>
    </div>-->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="game.js"></script>
</body>
</html>